#indexhead{
	margin:10px;
      padding:0px;
      font-family:"微软雅黑","黑体","宋体";
      font-size:48px;
      height:48px;
}


/*���ж���*/
body {
    text-align: center;
}

/*����ʱ��С��*/
.myquest{
	font-family: Tahoma,Helvetica,Arial,'����',sans-serif;
	font-size:1.25em;
}

/*��ť*/
/*.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}*/

/*���Ͱ�ť�ٺ�*/
#but1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #333399;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#but1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#but1 span:after {
  content: '>>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

#but1:hover span {
  padding-right: 100px;
}

#but1:hover span:after {
  opacity: 1;
  right: 0;
}

/*�еȰ�ť�ٺ�*/
.but2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #267fd9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.but2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but2 span:after {
  content: '<<<';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  transition: 0.5s;
}

.but2:hover span {
  padding-left: 60px;
}

.but2:hover span:after {
  opacity: 1;
  left: 0;
}

.but3 {
  display: inline-block;
  border-radius: 4px;
  background-color: #267fd9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.but3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but3 span:after {
  content: '>>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.but3:hover span {
  padding-right: 60px;
}

.but3:hover span:after {
  opacity: 1;
  right: 0;
}


.but4 {
    background-color: #267fd9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 8px;
}

.but4 {
    background-color: white; 
    color: black; 
    border: 2px solid #267fd9;
}

.but4:hover {
    background-color: #267fd9;
    color: white;
}

.but5 {
    background-color: #267fd9;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 8px;
}

.but5 {
    background-color: white; 
    color: black; 
    border: 2px solid #267fd9;
}

.but5:hover {
    background-color: #267fd9;
    color: white;
}


.que {border:2px solid #a1a1a1; 
	background:#FFFFFF;
	width:60%;
	position:relative;
	right:10px;
	margin-left:auto;
	margin-right:auto;
	}
	