<!DOCTYPE>
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<meta charset="utf-8">
<title>{{ question.question_text }}</title>
</head>
<h1 style="font-weight:800;font-size:48px;font-variant:small-caps;">{{ question.question_text }}</h1>
<p>点赞数:{{question.question_appreciation}}</p>
<form action="{% url 'polls:appreciate' question.id %}" method="post">
	{% csrf_token %}     
	<input class="but4"  type= "submit" value="👍" style="margin-right:-350"/>
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post" class="que">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}" class="but4">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote"  class="but4"/>
</form>
<a href="{% url 'polls:index' %}?next={{ request.path }}">
<button style="vertical-align:middle" class="but3">
			<span> 
		     返回问题页面
		    </span></button>
</a><br><br><br>

<img src="/static/sjtu.png" alt="SJTU" width="200" height="200" style="float:right;">
<div style="float:right;position:relative;right:00px;">
{% if user.is_authenticated %}
    <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a>
    <a href="{% url 'logout' %}?next={{ request.path }}">
	<br>
	注销登录</a>
    </p>
	{% else %}
    <p>你还没有登录，请
    <a href="{% url 'login' %}?next={{ request.path }}">登录</a>
    或者
    <a href="{% url 'users:register' %}?next={{ request.path }}">注册</a>
    </p>
{% endif %}
</div>	
</html>